# Site settings
title:          暮雪
description:    "弦歌应未远，故镇烟花碎月."
url:            "https://www.github.com/sumengxue/"

# Google Analytics
google_analytics: UA—XXXXXXXX-X

# Author
author:
  name:         暮雪
  url:          "https://github.com/sumengxue/"
  email:        50213295@qq.com

# Build settings
markdown:       kramdown
include:
  - _pages

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  # - jemoji #Uncomment this to allow emoji in your post

# Permalinks
permalink:      /:year-:month-:day/:title
paginate:       20

# Excludes
exclude: [ Gemfile, Gemfile.lock, tale.gemspec ]
